<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.muicss.com/mui-latest/css/mui.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='static/style.css') }}" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdn.muicss.com/mui-latest/js/mui.min.js"></script>
    <script src="{{ url_for('static', filename='static/script.js') }}"></script>
    <style type="text/css">
			#dropZone {
				border: 3px dashed #0088cc;
				padding: 50px;
				width: auto;
				height: 500px;
			}
		</style>
  </head>
  <body>
    <div id="sidedrawer" class="mui--no-user-select">
      <div id="sidedrawer-brand" class="mui--appbar-line-height">
        <span class="mui--text-title">ComicMaster</span>
      </div>
      <div class="mui-divider"></div>
      <ul>
        <li><a href="/gallery"><strong>Gallery</strong></a></li>
        <li><a href="/image"><strong>Translate</strong></a></li>
        <li><a href="/imagestep"><strong>Step by Step</strong></a></li>
        <li><a href="/imagedata"><strong>Add ANN Dataset</strong></a></li>
      </ul>
    </div>
    <header id="header">
      <div class="mui-appbar mui--appbar-line-height">
        <div class="mui-container-fluid">
          <a class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block js-show-sidedrawer">☰</a>
          <a class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm js-hide-sidedrawer">☰</a>
          <span class="mui--text-title mui--visible-xs-inline-block mui--visible-sm-inline-block">Brand.io</span>
          <a href="/user/logout"><button class="mui-btn" style="float:right;margin-top:12px;margin-left:15px" >Logout</button></a>
        </div>
      </div>
    </header>
    <div id="content-wrapper" style="padding-bottom:0px">
      <div class="mui--appbar-height"></div>
      <div class="mui-container-fluid">
          <br>
          {% for imageid in imageids %}
          <div class="mui-col-md-2">
            <div class="mui-panel" style="height:200px">
                <a href="/image/{{ imageid }}">
                    <img src="/imagefile/{{ imageid }}" style="max-height:100%;max-width:100%">
                </a>
            </div>
          </div>
          {% endfor %}
      </div>
      
      
      
    </div>
		<script src="{{ url_for('static', filename='js/vendor/jquery.ui.widget.js') }}" type="text/javascript"></script>
		<script src="{{ url_for('static', filename='js/jquery.iframe-transport.js') }}" type="text/javascript"></script>
		<script src="{{ url_for('static', filename='js/jquery.fileupload.js') }}" type="text/javascript"></script>
        <script type="text/javascript">
            $(function () {
               
            });
        </script>
  </body>
</html>
