<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link href="https://cdn.muicss.com/mui-latest/email/mui-email-styletag.css" rel="stylesheet"/>
    <link href="https://cdn.muicss.com/mui-latest/email/mui-email-inline.css" rel="stylesheet"/>
    <link href="https://cdn.muicss.com/mui-latest/css/mui.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdn.muicss.com/mui-latest/js/mui.min.js"></script>
    <style>
        body,
        .mui-body {
            background-color: #eee;
            font-size: 15px;
        }

        .mui-container {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    </style>
</head>
<body>
<table class="mui-body" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
            <center>
                <div class="mui-container" style="max-width:400px">
                    <h3 class="mui--text-center">ComicMaster Registration</h3>
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tr>
                            <td class="mui-panel">
                                <form class="mui-form" method="POST" action="/user/register">
                                    <div class="mui-textfield">
                                        <input type="text" placeholder="Username" name="username">
                                    </div>
                                    <div class="mui-textfield">
                                        <input type="password" placeholder="Password" name="password">
                                    </div>
                                    <div class="mui-textfield">
                                        <input type="password" placeholder="Confirm Password">
                                    </div>
                                    <div class="mui-textfield">
                                        <input type="text" placeholder="Email Adress" name="emailadd">
                                    </div>
                                    <button type="submit" class="mui-btn mui-btn--raised">Register</button>
                                </form>
                            </td>

                        </tr>

                    </table>
                </div>
            </center>
        </td>
    </tr>
</table>
</body>
</html>
